<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block title %}
        <title>Festes FME</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/base.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
</head>

<body>
    <section class="section is-align-content-center has-text-centered">
        <header>
            {% block header %} {% endblock header %}
        </header>
        <br>
        <main>
            {% block content %} {% endblock %}
        </main>
        <br>
        <footer>
            {% block footer %}
                <hr>
                <a href="/">
                    <button class="button is-ghost">Torna a l'inici</button>
                </a>
            {% endblock footer %}
        </footer>
    </section>
</body>

</html>