{% extends "page.html" %}

{% macro foto_grupal(url) %}
    <div class="foto_grupal column has-text-centered">
        <div class="card rounded-xl is-shadowless">
            <div class="card-image">
                <figure class="image">
                    <img style="object-fit: contain;" class="rounded-xl" src="{{ url }}">
                </figure>
            </div>
        </div>
    </div>
{% endmacro foto_grupal %}

{% macro video_presentacio(url) %}
    <div class="video_presentacio column has-text-centered">
        <figure class="image is-16by9">
            <iframe class="rounded-xl has-ratio" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
        </figure>
    </div>
{% endmacro video_presentacio %}

{% block content %}
    <div class="columns is-centered is-vcentered">
        <div class="column is-1"></div>
        <div class="column is-4 has-text-centered">
            <figure class="image is-square">
                <img id="disseny-principal" style="object-fit: contain" src="{{ get_url(path= page.slug ~ '/samarretes/' ~ page.extra.disseny_principal) }}">
            </figure>
            {% if page.extra.disseny_principal_rev is defined %}
                <script>
                    var i = 0;
                    var img = document.getElementById("disseny-principal");

                    function switchDissenyPrincipal() {
                        if(++i % 2 == 1)
                            img.src="{{ get_url(path= page.slug ~ '/samarretes/' ~ page.extra.disseny_principal_rev) }}";
                        else
                            img.src="{{ get_url(path= page.slug ~ '/samarretes/' ~ page.extra.disseny_principal) }}";
                    }
                </script>
                <button class="button mt-3 is-info is-outlined" onclick="switchDissenyPrincipal();">
                    <span class="icon">
                        <i class="fa fa-refresh fa-lg"></i>
                    </span>
                </button>
            {% endif %}
        </div>

        <div class="column">
            {% if page.extra.video_presentacio is defined %}
                {{ self::video_presentacio(url = page.extra.video_presentacio) }}
            {% else %}
                {% if page.extra.foto_grupal is defined %}
                    {{ self::foto_grupal(url = get_url(path= page.slug ~ '/' ~ page.extra.foto_grupal)) }}    
                {% endif %}
            {% endif %}
        </div>

        <div class="column is-1"></div>
    </div>

    <div class="columns is-centered">
        <div class="column is-11">
            <div class="content has-text-left">
                {{ page.content | safe }}
            </div>
        </div>
    </div>
    
    {% if page.extra.dissenys_alternatius is defined %}
    <h4 class="title is-3">Dissenys alternatius</h4>
        <br>
        <div class="columns is-multiline is-centered is-mobile">
            {% for disseny in page.extra.dissenys_alternatius %}
                <div class="column is-one-quarter-fullhd is-one-quarter-widescreen is-one-third-desktop is-half-tablet is-half-mobile has-text-centered">
                    <figure class="image is-square">
                        <img style="object-fit: contain" src="{{ get_url(path= page.slug ~ '/samarretes/' ~ disseny ) }}" alt="{{ disseny }}">
                    </figure>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}

    {% if page.extra.membres is defined %}
    <h4 class="title is-3">Qui som?</h4>
        <div class="columns is-multiline is-centered is-mobile">
            {% for membre in page.extra.membres|sort %}
                <div class="column is-2-fullhd is-2-widescreen is-one-fifth-desktop is-one-quarter-tablet is-5-mobile has-text-centered">
                    <p class="is-centered">
                        {{ membre }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}
