{% extends "base.html" %}

{% block title %}
    <title>Inici | Festes FME</title>
{% endblock title %}

{% block header %}
    <div class="title-header-outer">
        <div class="title-header-inner">
            <h1>{{ section.title }}</h1>
            {% if section.description %}
            <p>{{ section.description }}</p>
            {% endif %}
        </div>
    </div>
{% endblock header %}

{% block content %}
    <ul>
        {% set section = get_section(path="generacions/_index.md") %}
        {% for cpage in section.pages %}
        <li>
            <figure>
                <img src="/{{ cpage.slug }}/{{ cpage.extra.disseny_principal }}" class="inlineimg">
            </figure>
            <a href="{{ cpage.permalink }}">{{ cpage.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block footer %}
    <p>Trobes alguna cosa en falta? Contacta <a href="/contacte">aquí</a>!</p>
{% endblock footer %}