{% extends "base.html" %}

{% block title %}
    <title>Inici | Festes FME</title>
{% endblock title %}

{% block header %}
            <p class="title is-1">{{ section.title }}</p>
            {% if section.description %}
                <p class="subtitle is-4">
                    {{ section.description }}
                </p>
            {% endif %}
{% endblock header %}

{% block content %}
    {% set section = get_section(path="generacions/_index.md") %}
    
    <div class="columns is-multiline is-centered">
        {% for cpage in section.pages %}
            <div class="column is-one-third has-text-centered">
                <a href="{{ cpage.permalink }}">
                    <div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y rounded-xl light-border">
                        <div class="card-image">
                            <figure class="image">
                                <figure class="image is-square">
                                    <img style="object-fit: contain" src="/{{ cpage.slug }}/{{ cpage.extra.disseny_principal }}" alt="Disseny {{ cpage.title }}">
                                </figure>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                            <p class="subtitle is-4">
                                {{ cpage.title }}
                            </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block footer %}
    <hr>
    <p>Trobes alguna cosa en falta? Contacta <a href="/contacte">aquí</a>!</p>
{% endblock footer %}